n8n/scan_to_hbim_v6_workflow.json
{
  "name": "Scan-to-HBIM V6 Pipeline (Cloud Functions)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan-to-hbim-v6",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "scan-to-hbim-v6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-01-load",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1', input_file: $json.input_file || 'raw/pointcloud/alaca_cesme_full.ply' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase1-load",
      "name": "Phase 1: Load",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: Load & validate point cloud from GCS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-02-preprocess",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase2-preprocess",
      "name": "Phase 2: Preprocess",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: Voxel downsample, SOR filter, normals"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-03-features",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase3-features",
      "name": "Phase 3: Features",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: 28 geometric features + Y_normalized"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-04-segment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase4-segment",
      "name": "Phase 4: Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: DBSCAN clustering"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-05-classify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase5-classify",
      "name": "Phase 5: Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: Y_normalized classification (99.86%)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-06-mesh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase6-mesh",
      "name": "Phase 6: Mesh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: Poisson reconstruction per class"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://europe-west1-concrete-racer-470219-h8.cloudfunctions.net/phase-07-ifc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $json.version || 'v1', building_name: 'Alaca Cesmesi' }) }}",
        "options": {
          "timeout": 540000
        }
      },
      "id": "phase7-ifc",
      "name": "Phase 7: IFC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300],
      "notesInFlow": true,
      "notes": "Cloud Function: IFC4 with 3 semantic property sets"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "alaca-cesme-hbim-v6",
        "fileName": "logs/pipeline_{{ $now.format('yyyy-MM-dd_HH-mm') }}.json",
        "fileContent": "={{ JSON.stringify({ workflow: 'scan-to-hbim-v6', version: $json.version, phases: ['load', 'preprocess', 'features', 'segment', 'classify', 'mesh', 'ifc'], status: 'complete', timestamp: $now.toISO() }, null, 2) }}"
      },
      "id": "save-log",
      "name": "Save Pipeline Log",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [1850, 300],
      "notesInFlow": true,
      "notes": "Save execution log to GCS"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email || 'hilalslasenturk@gmail.com' }}",
        "subject": "Scan-to-HBIM V6 Pipeline Complete",
        "message": "Pipeline completed successfully!\n\nVersion: {{ $json.version }}\nTimestamp: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n\nOutputs:\n- IFC files: gs://alaca-cesme-hbim-v6/processed/{{ $json.version }}/07_ifc/\n- Meshes: gs://alaca-cesme-hbim-v6/processed/{{ $json.version }}/06_mesh/\n\nView in GCS Console:\nhttps://console.cloud.google.com/storage/browser/alaca-cesme-hbim-v6/processed/{{ $json.version }}"
      },
      "id": "notify-complete",
      "name": "Notify Complete",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2050, 300],
      "notesInFlow": true,
      "notes": "Send email notification"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Phase 1: Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1: Load": {
      "main": [
        [
          {
            "node": "Phase 2: Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Preprocess": {
      "main": [
        [
          {
            "node": "Phase 3: Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 3: Features": {
      "main": [
        [
          {
            "node": "Phase 4: Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 4: Segment": {
      "main": [
        [
          {
            "node": "Phase 5: Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 5: Classify": {
      "main": [
        [
          {
            "node": "Phase 6: Mesh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 6: Mesh": {
      "main": [
        [
          {
            "node": "Phase 7: IFC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 7: IFC": {
      "main": [
        [
          {
            "node": "Save Pipeline Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pipeline Log": {
      "main": [
        [
          {
            "node": "Notify Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "scan-to-hbim-v6-cloud-functions"
  },
  "tags": [
    {
      "name": "scan-to-hbim",
      "createdAt": "2026-01-04T00:00:00.000Z"
    },
    {
      "name": "heritage",
      "createdAt": "2026-01-04T00:00:00.000Z"
    },
    {
      "name": "v6",
      "createdAt": "2026-01-04T00:00:00.000Z"
    },
    {
      "name": "cloud-functions",
      "createdAt": "2026-01-04T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "v6.1-cloud-functions"
}
